*{
    margin: 0px;
    padding: px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#2E3192,#176b8f);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
#background { /*This took 3 hours to figure out :)*/
    background-image: url("Images/background.png");
  background-size: 1440px 820px;
  background-repeat: no-repeat;
}
body {
    font-family: 'ADLaM Display';
}
.logo {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeIn;
  }
  .centered-below {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: 1.5s fadeInBelow;
  }
  .my {
    position: absolute;
    top: 16%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeIn;
  }
  .projects {
    position: absolute;
    top: 16%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeInBelow;
    }

#projectyoutube {
    position: absolute;
    left: -765;
    top: -100;
    right: 100;
    bottom: 0;

    display: block;
    margin: auto; 
    animation: 1.5s fadeInBelow2;
    width: 32%;
    transition: 0.4s ease;
    }
    .youtubechannel{
        position: absolute;
        top: 82%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 53px;
        background-color: aqua;
        animation: 1.5s fadeInBelow2;
    }
    #projectgames {
        position: absolute;
        left: 820;
        top: 0;
        right: 0;
        bottom: 0;
    
        display: block;
        margin: auto;
        width: 21%;
        animation: 1.5s fadeInBelow3;
        transition: 0.4s ease;
    }
    .game{
        position: absolute;
        top: 82%;
        left: 78.5%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        background-color: aqua;
        animation: 1.5s fadeInBelow3;
    }
.websitess {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  animation: 1.5s fadeIn;
}
#aboutsparkimg {
  position: absolute;
  left: -900;
  top: -100;
  right: 100;
  bottom: 0;
  width: 500;

  display: block;
  margin: auto; 
  animation: 1.5s fadeInBelow;
  transition: all 0.4s
}
.aboutspark{
  position: absolute;
  top: 82%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  background-color: aqua;
  animation: 1.5s fadeInBelow;
}
  .left {
    left: 25px;
  }
  
  .right {
    right: 25px;
  }
  
  .center {
    text-align: center;
  }
  
  .bottom {
    position: absolute;
    bottom: 25px;
  }
  
  #gradient {
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
    margin: 0 auto;
    margin-top: 170px;
    width: 100%;
    height: 575px;
    animation: 1.5s fadeInBelow;
  }
  
  #gradient:after {
    content: "";
    position: absolute;
    background: #E9E2D0;
    left: 50%;
    margin-top: -137.5px;
    margin-left: -650px;
    padding-left: 20px;
    border-radius: 5px;
    width: 1300px;
    height: 875px;
    z-index: -1;
  }
  
  #card {
    position: absolute;
    width: 1130px;
    height: 805px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 67.5px;
    margin-left: -580px;
    background: #E9E2D0;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
    animation: 1.5s fadeIn;
  }
  
  #card img {
    width: 445px;
    float: left;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 6px 6px 10px black;
  }
  
  #card h1 {
    font-family: courier;
    color: #333;
    margin: 0 auto;
    padding: 0;
    font-size: 65pt;
  }
  
  .p {
    font-family: courier;
    color: #555;
    font-size: 30px;
  }
  
  #card span {
    font-family: courier;
    color: #444;
    font-size: 25pt;
  }
  
  .container {
    width: 100%;
    background-color: #E9E2D0;
    margin-top: 10pt;
  }
  
  .skills {
    text-align: right;
    color: white;
  }
  
  .js {width: 90%; background-color: #DAAF45; border-radius: 5px;}
  .html {width: 70%; background-color: #D73B25; border-radius: 5px;}
  .py {width: 65%; background-color: #C71B25; border-radius: 5px;}
  .css {width: 25%; background-color: #961A39; border-radius: 5px;}
  
  .skillhead {
    font-family: courier;
    font-size: 5pt;
    text-align: left;
    margin-left: 10px;
  }
  
  .skillpercent {
    margin-right: 10px;
  }
  #back {
    font-size: 30px;
    font-family: sans-serif;
  }
  .games {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    animation: 1.5s fadeIn;
  }
  .iplay {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeInBelow;
  }
  #gameminecraft {
    position: absolute;
    left: 820;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
    width: 330;
    animation: 1.5s fadeInBelow3;
}
.gamess{
  position: absolute;
  top: 82%;
  left: 78.5%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  background-color: aqua;
  animation: 1.5s fadeInBelow3;
}
#gameslope {
  position: absolute;
  left: -700;
  top: 5;
  right: 100;
  bottom: 0;
  animation: 1.5s fadeInBelow2;

  display: block;
  margin: auto; 
  width: 330;
  }
  .slope{
    position: absolute;
    top: 82%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color: aqua;
    animation: 1.5s fadeInBelow2;
  }
  .links {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeIn;
  }
  .youtubelink {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeInBelow;
  }
  a {
    text-decoration: none !important;
    transition: all 0.4s ease 0s;
  }
  a:hover {
    text-decoration: none;
    color: #6971ff;
  }
  .twitchlink {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeInBelow2;
  }
  .schoologylink {
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeInBelow3
  }
  h2:hover {
    font-size: 170%;
    }
    #homeicon {
      position: absolute;
      left: 0;
      top: 335;
      right: 0;
      bottom: 0;
  
      display: block;
      margin: auto;
      width: 485;
      animation: 1.5s fadeInBelow3;
      transition: .4s ease;
  }
  #homeicon:hover {
    width: 500;
  }
  .githublink {
    position: absolute;
    top: 65%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeInBelow4;
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.version {
  position: absolute;
  top: 95%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  animation: 1.5s fadeIn;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
  text-decoration: none;
}
#projectyoutube:hover {
  width: 485;
}
#projectgames:hover {
  width: 330;
}
#aboutsparkimg:hover {
  width: 525;
}
.content {
  max-width: 500px;
  margin: auto;
}