*{
    margin: 0px;
    padding: px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#2E3192,#176b8f);
    user-select: none;
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}  
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
#background {
  background-image: url("Images/background.png");
  background-size: cover;
  position:fixed;
}
body {
    font-family: 'ADLaM Display';
}
.logo {
    position: relative;
    text-align: center;
}
.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s whipInCentered;
    user-select: none;
  }
  .centered-below {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: 1.5s whipInCentered-Below;
    user-select: none;
  }
  .my {
    position: fixed;
    top: 16%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s whipInMyProjects;
    user-select: none;
  }
  .projects {
    position: fixed;
    top: 16%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s whipInMyProjects;
    user-select: none;
    }

#projectyoutube {
    position: fixed;
    left: -765;
    top: -100;
    right: 100;
    bottom: 0;

    display: block;
    margin: auto;
    animation: 1.5s whipInYTProject;
    width: 32%;
    transition: 0.4s ease;
    }
    .youtubechannel{
        position: fixed;
        top: 82%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 53px;
        background-color: aqua;
        animation: 1.5s whipInYT;
    }
    #projectgames {
        position: fixed;
        left: 820;
        top: 0;
        right: 0;
        bottom: 0;
    
        display: block;
        margin: auto;
        width: 21%;
        animation: 1.5s whipInGamesProject;
        transition: 0.4s ease;
    }
    .game{
        position: fixed;
        top: 82%;
        left: 78.5%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        background-color: aqua;
        animation: 1.5s fadeInBelow3;
    }
.websitess {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  animation: 1.5s fadeIn;
}
#aboutsparkimg {
  position: fixed;
  left: -900;
  top: -100;
  right: 100;
  bottom: 0;
  width: 500;

  display: block;
  margin: auto; 
  animation: 1.5s whipInWeb;
  transition: all 0.4s
}
.aboutspark{
  position: fixed;
  top: 82%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  background-color: aqua;
  animation: 1.5s whipInWebText;
}
  .left {
    left: 25px;
  }
  
  .right {
    right: 25px;
  }
  
  .center {
    text-align: center;
  }
  
  .bottom {
    position: fixed;
    bottom: 25px;
  }
  
  #gradient {
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
    margin: 0 auto;
    margin-top: 170px;
    width: 100%;
    height: 575px;
    animation: 1.5s fadeInBelow;
  }
  
  #gradient:after {
    content: "";
    position: fixed;
    left: 50%;

    padding-left: 20px;
    border-radius: 5px;
    width: 1300px;
    height: 875px;
    z-index: -1;
  }
  
  #card {
    position: fixed;
    width: 1130px;
    height: 805px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 67.5px;
    margin-left: -580px;
    background: #E9E2D0;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
    animation: 1.5s fadeIn;
  }
  
  #card img {
    width: 445px;
    float: left;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 6px 6px 10px black;
  }
  
  #card h1 {
    font-family: courier;
    color: #333;
    margin: 0 auto;
    padding: 0;
    font-size: 65pt;
  }
  
  .p {
    font-family: courier;
    color: #555;
    font-size: 30px;
  }
  
  #card span {
    font-family: courier;
    color: #444;
    font-size: 25pt;
  }
  
  .container {
    width: 100%;
    background-color: #E9E2D0;
    margin-top: 10pt;
  }
  
  .skills {
    text-align: right;
    color: white;
  }
  
  .js {width: 90%; background-color: #DAAF45; border-radius: 5px;}
  .html {width: 70%; background-color: #D73B25; border-radius: 5px;}
  .py {width: 65%; background-color: #C71B25; border-radius: 5px;}
  .css {width: 25%; background-color: #961A39; border-radius: 5px;}
  
  .skillhead {
    font-family: courier;
    font-size: 5pt;
    text-align: left;
    margin-left: 10px;
  }
  
  .skillpercent {
    margin-right: 10px;
  }
  #back {
    font-size: 30px;
    font-family: sans-serif;
  }
  .games {
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    animation: 1.5s fadeIn;
    user-select: none;
  }
  .iplay {
    position: fixed;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s fadeInBelow;
    user-select: none;
  }
  #gameminecraft {
    position: fixed;
    left: 820;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
    width: 330;
    animation: 1.5s fadeInBelow3;
}
.gamess{
  position: fixed;
  top: 82%;
  left: 78.5%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  background-color: aqua;
  animation: 1.5s whipInGames;
}
#gameslope {
  position: fixed;
  left: -700;
  top: 5;
  right: 100;
  bottom: 0;
  animation: 1.5s fadeInBelow2;

  display: block;
  margin: auto; 
  width: 330;
  }
  .slope{
    position: fixed;
    top: 82%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color: aqua;
    animation: 1.5s fadeInBelow2;
  }
  .links {
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    animation: 1.5s whipInLinks;
    user-select: none;
  }
  .youtubelink {
    position: fixed;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    animation: 1.5s whipInIconText;
    text-decoration: none !important;
  }
  a {
    text-decoration: none !important;
    transition: all 0.4s ease 0s;
  }
  a:hover {
    text-decoration: none;
    color: #6971ff;
  }
  a:link {
    color: #000;
  }
  h2:visited {
    color: #000
  }
  .twitchlink {
    position: fixed;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    animation: 1.5s whipInIconText;
  }
  h2:hover {
    font-size: 170%;
    }
    #homeicon {
      position: fixed;
      left: 0;
      top: 335;
      right: 0;
      bottom: 0;
  
      display: block;
      margin: auto;
      width: 485;
      animation: 1.5s whipInHomeIcon;
      transition: .4s ease;
      user-select: none;
  }
  #homeicon:hover {
    width: 500;
  }
  .githublink {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    animation: 1.5s whipInIconText;
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBelow5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.version {
  position: fixed;
  top: 95%;
  left: 5%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  animation: 1.5s fadeIn;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
  text-decoration: none;
  user-select: none;
  transition: all 0.4s
}
.version:hover {
  width: 110;
}
#projectyoutube:hover {
  width: 485;
}
#projectgames:hover {
  width: 330;
}
#aboutsparkimg:hover {
  width: 525;
}
.content {
  max-width: 500px;
  margin: auto;
}
.youtube-icon {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 240px;
  text-decoration: none;
  transition: all 0.4s !important;
  background: linear-gradient(#DC1C13,#fa0010);
  color: #aaa;
  animation: 1.5s whipInIcons;
  border-radius: 25px;
}
.youtube-icon:hover {
  color: #333;
  font-size: 260px;
}
.github-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 240px;
  text-decoration: none;
  transition: all 0.4s !important;
  background: linear-gradient(#171515,#454444);
  color: #aaa;
  animation: 1.5s whipInIcons;
  border-radius: 25px;
}
.github-icon:hover {
  color: #333;
  font-size: 260px;
}
.twitch-icon {
  position:fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 240px;
  text-decoration: none;
  transition: all 0.4s !important;
  background: linear-gradient(#001657,#002688);
  color: #aaa;
  animation: 1.5s whipInIcons;
  border-radius: 25px;
}
.twitch-icon:hover {
  color: #333;
  font-size: 260px;
}
footer {
  margin-top: 770px;
  margin-left: 1055px;
  animation: 1.5s fadeIn;
  color:grey;
  background:#2E3192;
  user-select: none;
}
img {
  user-select: none;
}
h2 {user-select: none;}
@keyframes whipInCentered {
  0% {
    height: 0%;
  }
  100% {
  height: 19%;
  }
}
@keyframes whipInCentered-Below {
  0% {
    height: 0%;
  }
  100% {
  height: 12.55%;
  }
}
@keyframes whipInHomeIcon {
  0% {
    top: 100%;
  }
  100% {
    top: 41%;
  }
}
@keyframes whipInMyProjects {
  0% {
    top: 35%;
  }
  100% {
    top: 16%;
  }
}
@keyframes whipInYTProject {
  0% {
    left: -100%;
  }
  100% {
    left: -53.2%;
  }
}
@keyframes whipInYT {
  0% {
    left: -10%;
  }
  100% {
    left: 20%;
  }
}
@keyframes whipInGamesProject {
  0% {
    left: 90%;
  }
  100% {
    left: 57%;
  }
}
@keyframes whipInLinks {
  0% {
    top: 55%;
  }
  100% {
    top: 16%;
  }
}
@keyframes whipInGames {
  0% {
    left: 108.5%;
  }
  100% {
    left: 78.5%;
  }
}
@keyframes whipInIcons {
  0% {
    top: 80%;
  }
  100% {
    top: 50%;
  }
}
@keyframes whipInIconText {
  0% {
    top: 110%;
  }
  100% {
    top: 70%;
  }
}
@keyframes whipInWeb {
  0% {
    top: 20%;
  }
  100% {
    top: -12.15%;
  }
}
@keyframes whipInWebText {
  0% {
    top: 92%;
  }
  100% {
    top: 82%;
  }
}
#aboutsparkimg2 {
  position: fixed;
  left: 100;
  top: -100;
  right: 100;
  bottom: 0;
  width: 500;

  display: block;
  margin: auto; 
  animation: 1.5s whipInWeb;
  transition: all 0.4s
}
#aboutsparkimg2:hover {
  width: 525;
}
.IT2040 {
  position: fixed;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  background-color: aqua;
  animation: 1.5s whipInWebText
}